@model DarkSky.Messaging.ViewModels.MessageTemplateSettingsViewModel
@{
    Style.Include("Common.css", "Common.min.css");
}
<fieldset>
    <legend>@T("Template Parser")</legend>
    <div class="editor-field">
        @Html.LabelFor(m => m.ParserId, T("Default Parser"))
        @Html.EditorFor(m => m.ParserId)
        <span class="hint">@T("The template parser engine to use by default.")</span>
    </div>
</fieldset>
