.editor-field {
  margin-bottom: 1em;
}
.codemirror {
  border: 1px solid black;
}
.codemirror .template-editor {
  height: 600px;
}
.CodeMirror {
  height: 400px;
}
.codemirror-preview iframe {
  width: 100%;
  height: 400px;
  border: 1px solid #ccc;
}
.row {
  min-height: 1%;
}
.row:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.row [class*="span"] {
  display: block;
  width: 100%;
  min-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}
.row [class*="span"]:first-child {
  margin-left: 0;
}
.row .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}
